.code-block-wrapper {
    position: relative;
    margin-top: 2rem;
  }
  
  .copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.875rem;
  }
  
  .copy-button:focus {
    outline: none;
  }
  
  .code-block {
    background-color: rgba(0, 0, 0, 0.863); /* Dark background color */
    color: rgb(255, 255, 255); /* Text color */
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;
    position: relative; /* Ensure the button is positioned correctly */
  }
  
  .code-block code {
    display: block;
    white-space: pre;
  }
  

  